// Define color variables
$background-color: #f0f8ff;
$text-color: #333;
$heading-bg-color: #ffd500;
$cell-border-color: #007bff;
$cell-hover-bg-color: #e7f1ff;
$reset-btn-bg-color: rgb(0, 196, 166);
$reset-btn-hover-bg-color: rgb(4, 120, 120);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

// General body styles
body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: $background-color;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// Styles for the game container
#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color: $text-color;
}

// Styles for the main heading
h1 {
    margin-bottom: 20px;
    color: $text-color;
    font-size: 66px;
    background-color: $heading-bg-color;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: $box-shadow;
}

#statustext {
    margin-bottom: 20px;
    color: $text-color;
    font-size: 36px;
}

// Styles for each cell in the game
.cell {
    width: 150px;
    height: 150px;
    border: 2px solid $cell-border-color;
    border-radius: 10px;
    box-shadow: $box-shadow;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        background-color: $cell-hover-bg-color;
        transform: scale(1.05);
    }
}

// Container for the grid of cells
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

// Styles for the reset button
#resetBtn {
    background-color: $reset-btn-bg-color;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    font-family: "Permanent Marker", cursive;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    color: $text-color;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: $reset-btn-hover-bg-color;
        transform: scale(1.05);
    }
}
